*{
    margin: 0%;
    padding: 0%;
    box-sizing:border-box;
}


body {
    background-color: white;       
    /* color: #083a50; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navbar{
    background-color: #083a50;
    height: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}

.navbar a{
    font-weight: 400;
    font-size: 20px;
    color: white;
    text-decoration: none;
    /* justify-content:center; */
    padding: 15px 20px;
}

.navbar a:hover{
    color: #083a50;
    font-weight: 400;
    background-color: white;
    border-radius: 10px;
    /* transition: .2s; */
}

.info{
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin: 23vh 0;
    flex-wrap: wrap;
}

.role{
    font-size: 40px;
    text-align: center;
    justify-content: end;
}

.info img{
    height: 20rem;
    justify-content: end;
    border-radius: 50%;
    box-shadow: 5px 5px 5px 4px  #083a50 ;
}












@media (max-width:1164px){

    .navbar{
        justify-content:space-evenly;
        transition: .7s;
    }

    .info{
        gap: 20px;
    }

    .role{
        font-size: 50px;
        transition: 5s;
        flex-direction: column;
    }

    .info img{
        height: 20rem;
        width: 40rem;
        transition: 2s;
    }
}

@media (min-width:600px) and (max-width:700px){
    .info img{
        height: 18rem;
        width: 25rem;
        transition: 2s;
    }
}

@media (max-width:630px) {

    .navbar{
        justify-content:space-evenly;
        height: 2rem;
        align-items: center;
        text-align: center;
    }

    .navbar a{
        font-size: 13px;
        font-weight: normal;
        /* padding: auto; */
        /* transition: 1s; */
        height: 2rem;
        /* align-items: center;
        text-align: center; */
        padding: 10px 5px;         
    }

    .info{
        margin: 40px 0;
    }

    .role{
        font-size: 20px;
    }

    .info img{
        height: 12rem;
        width: 20rem;
        transition: 1s;
    }
}

